!!! 5
html(lang="en")
  head
    title minim.al bit.ly
    link(href: "/style.css", media: "screen", rel: "stylesheet", type: "text/css")
    script(src: "/jquery.js", type: "text/javascript")
    script(src: "/functionality.js", type: "text/javascript")
  body
    div.content#index minim.al bit.ly
      div
        input(type: "text")
        button go

