!!! 5
html(lang="en")
  head
    title Minimal Bitly
    link(href: "http://implement/node/static/style.css", media: "screen", rel: "stylesheet", type: "text/css")
  body
    div#shortened
      a(href: url)= url

